.Calendar {
  min-height: 580px;
  height: 100%; }
  .Calendar .ToolBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; }
  .Calendar-Month {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-bottom: 0; }
    .Calendar-Month-Header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd; }
      .Calendar-Month-Header-Cell {
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 2px; }
        .Calendar-Month-Header-Cell + .Calendar-Month-Header-Cell {
          border-left: 1px solid #ddd; }
    .Calendar-Month-Grid {
      height: 100%; }
      .Calendar-Month-Grid-Week {
        display: flex;
        justify-content: space-between;
        height: 100%;
        max-height: 15%;
        border-bottom: 1px solid #ddd; }
        .Calendar-Month-Grid-Week-Day {
          width: 100%;
          text-align: center;
          padding: 2px; }
          .Calendar-Month-Grid-Week-Day + .Calendar-Month-Grid-Week-Day {
            border-left: 1px solid #ddd; }
          .Calendar-Month-Grid-Week-Day .day-index {
            text-align: right; }
          .Calendar-Month-Grid-Week-Day.Day-inactive {
            background-color: #e5e5e5; }
            .Calendar-Month-Grid-Week-Day.Day-inactive .day-index {
              color: #999999; }
  .Calendar-Week {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-bottom: 0; }
    .Calendar-Week-Header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd; }
      .Calendar-Week-Header-Cell {
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 2px; }
        .Calendar-Week-Header-Cell + .Calendar-Week-Header-Cell {
          border-left: 1px solid #ddd; }
    .Calendar-Week-Grid {
      height: 100%;
      display: flex;
      justify-content: space-between; }
      .Calendar-Week-Grid-TimeHeader {
        width: 12.5%;
        border-right: 1px solid #ddd;
        text-align: center; }
        .Calendar-Week-Grid-TimeHeader-Time {
          height: 40px;
          border-bottom: 1px solid #ddd;
          padding: 2px; }
      .Calendar-Week-Grid-Day {
        width: 12.5%;
        text-align: center; }
        .Calendar-Week-Grid-Day + .Calendar-Week-Grid-Day {
          border-left: 1px solid #ddd; }
        .Calendar-Week-Grid-Day-TimeSlot {
          height: 40px;
          border-bottom: 1px solid #ddd;
          padding: 2px; }
