// Colors
$calendar-color-border: #ddd;
$calendar-color-outofmonth-day: #e5e5e5;;
$calendar-color-outofmonth-day-index: #999999;
$calendar-color-active-time-slot: #ddd;
$calendar-color-event: #3174ad;
$calendar-color-more: #3174ad;
$calendar-color-holiday: #77777f;

// Fonts
$calendar-font-size: 14px;
$calendar-font-family: Arial;

// Paddings / Margins
$calendar-padding-event: 4px;

// Heights
$calendar-height-header: 60px;
$calendar-height-timeslot: 40px;
$calendar-height-day: 100px;

// Widths
$calendar-width-header-slot: 100px;
