$calendar-color-border: #ddd;
$calendar-color-inactive-day: #e5e5e5;;
$calendar-color-inactive-day-index: #999999;
$calendar-color-active-time-slot: #999999;
$calendar-color-event: #3174ad;
$calendar-color-event-green: #33b679;
$calendar-color-event-purple: #3f51b5;
$calendar-color-more: #3174ad;

$calendar-font-size: 14px;
$calendar-font-family: Arial;

$calendar-padding-event: 4px;

$calendar-height-header: 25px;
$calendar-height-timeslot: 40px;
$calendar-height-day: 100px;

$calendar-width-header-slot: 100px;

.Calendar {
    height: 100%;
    font-size: $calendar-font-size;
    font-family: $calendar-font-family;

    &-ToolBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        &-SubGroup {
            display: flex;
        }
    }

    &-SettingsForm {
        margin-bottom: 15px;
    }

    &-Day {
        width: 100%;
        height: 100%;
        border: 1px solid $calendar-color-border;
        border-bottom: 0;
        display: flex;
        justify-content: space-between;

        &-TimeHeader {
            text-align: center;
            flex: 0 0 $calendar-width-header-slot;

            &-TimeSlot {
                height: $calendar-height-timeslot;
                border-bottom:  1px solid $calendar-color-border;
                padding: 2px;

                &:first-child {
                    height: $calendar-height-header;
                }
            }
        }

        &-Grid {
            text-align: center;
            width: 100%;
            border-left: 1px solid $calendar-color-border;

            &-Header {
                height: $calendar-height-header;
                line-height: $calendar-height-header;
                vertical-align: middle;
                text-align: center;
                font-weight: bold;
                padding: 2px;
                border-bottom: 1px solid $calendar-color-border;
            }

            &-Content {
                position: relative;
                overflow: hidden;

                &-TimeSlot {
                    height: $calendar-height-timeslot;
                    border-bottom: 1px solid $calendar-color-border;
                    padding: 2px;

                    &.drag {
                        background-color: $calendar-color-active-time-slot;
                        position: relative;
                        opacity: 0.4;
                        z-index: 1;
                    }
                }

                .Event {
                    position: absolute;

                    &.drag {
                        opacity: 0.6;
                        z-index: -1;
                    }
                }
            }

        }
    }

    &-Week {
        width: 100%;
        height: 100%;
        border: 1px solid $calendar-color-border;
        border-bottom: 0;

        &-Grid {
            height: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &-Month {
        width: 100%;
        height: 100%;
        border: 1px solid $calendar-color-border;
        border-bottom: 0;

        &-Header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $calendar-color-border;

            &-Cell {
                width: 100%;
                height: $calendar-height-header;
                line-height: $calendar-height-header;
                vertical-align: middle;
                text-align: center;
                font-weight: bold;
                padding: 2px;

                & + & {
                    border-left: 1px solid $calendar-color-border;
                }
            }
        }

        &-Grid {
            height: 100%;

            &-Week {
                display: flex;
                justify-content: space-between;
                height: $calendar-height-day;
                max-height: 15%;
                border-bottom: 1px solid $calendar-color-border;

                &-Day {
                    width: 100%;
                    text-align: center;

                    & + & {
                        border-left: 1px solid $calendar-color-border;
                    }

                    .day-index {
                        text-align: right;
                        padding: 2px;
                    }

                    &.Day-inactive {
                        background-color: $calendar-color-inactive-day;

                        .day-index {
                            color: $calendar-color-inactive-day-index;
                        }
                    }
                }
            }
        }
    }

    .Event {
        max-width: 100%;
        max-height: 100%;
        color: #fff;
        background-color: $calendar-color-event;
        border-radius: 5px;
        margin-bottom: 1px;
        text-align: left;

        &[draggable=true] {
            cursor: pointer;
        }

        &-inner {
            padding: $calendar-padding-event;
        }

        &-More {
            display: block;
            color: $calendar-color-event;
            padding: $calendar-padding-event;
            text-align: left;
            cursor: pointer;
        }

        &-green {
            background-color: $calendar-color-event-green;
        }

        &-purple {
            background-color: $calendar-color-event-purple;
        }
    }
}